@charset "utf-8";
.tabela td {
	
	background-color:#E77B7D
}
.tabela th {
	
	background-color:#D1D16C
}
.tabela  {
	
	background-color:#5EC744
}
#wrap {
	background-color:#DAE385;
	margin:auto;
	width:960px;
	padding:20px;
}
#header h1 {
	display:block;
	text-align:center;
	margin: 0;
	margin-bottom:15px;
	font-size:4vw;
	}
	#header {
		width:960px;;
		background:#0F9;
		animation:header 10s infinite;
		
		}
		@keyframes header {
			0% {
				background:#F4F4F4;
				}
			40% {
				background:#0F9;
				}
				60% {
					background:#1C6EDD;
					}
					80%{
						background:E57E0B;
						}
						100%{
							background:#F03438;
							}
			}
		#main {
	width: 600px;
	padding:10px;
	background: #3CF;
	float: left;				
			}
			#sidebar {
	width: 330px;
	height:900px;
	background:#FFFFFF;
	float: right;
	animation:header 10s infinite;
		}
		@keyframes sidebar {
			0% {
				background:#F4F4F4;
				}
			40% {
				background:#0F9;
				}
				60% {
					background:#1C6EDD
					}
					80%{
						background:#E57E0B;
						}
						100%{
							background:#F03438
							}	
		}
				#footer {
	height: 100px;
	background:#999;
	clear: both;
					}
		#nav {
	height: 40px;
	background:#D84B4E}
	#nav ul {
				margin:0;
				padding:0;
				list-style:none;
				}
				#nav ul li {
					float:left;
				}
					#nav ul li a:link, 
					#nav ul li a:visited {
					 color:#000000;
					 text-decoration:none;
						}
					
					#nav ul li a {
					float:left;
					height:30px;
					padding: 0px 15px;
					display:block;
					transition:all 300ms linear;
					
				}
					
						#nav ul li a:hover {
							background:#DAE385;
							
							}
			
						.field{
	color:#000000
		}
.submit {
	display:block;
	clear:both;
	float:left;
	margin:10px;
	font-size:18px;
	border:solid;
	}
.input {
	margin: 10px;
	border:solid;
	float:left;
	display:block;
	width:400px;
	line-height:15px;
	font-size:18px;
	}
.img1 {
}

.sli {
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 0px;
	float: left;
}
.vid1 {
}
.fig {
	width: 330px;
}
.link {
	left: 50px;
	position: relative;
	top: 40px;
}
.kirche {
	padding: 5px;
	float: left;
}
@Media screen and 
(min-width: 1024px) and (max-width: 1700px) {
	#wrap {
	background-color: #FF0;
	margin:auto;
	width:1400px;
	padding:20px;
}
	#header {
		width:1400px;;
		background:#0F9;
		}
		#main {
	width: 930px;
	padding:10px;
	background: #3CF;
	float: left;				
			}
			#sidebar {
	width: 450px;
	height:1040px;
	background:#FFFFFF;
	float: right;
				}
				#footer {
	height: 100px;
	background:#999;
	clear: both;
					}
		
						
.img1 {
}

.sli {
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 0px;
	float: left;
}
.vid1 {
}
.fig {
	width: 330px;
}
.link {
	left: 50px;
	position: relative;
	top: 40px;

	
}
.kirche {
	padding: 5px;
	float: left;
}

}
@Media screen and 
(min-width: 768px) and (max-width: 1023px) {
	#wrap {
	background-color: #FF0;
	margin:auto;
	width:960px;
	padding:20px;
}
	#header {
		width:960px;;
		background:#0F9;
		}
		#main {
	width: 600px;
	padding:10px;
	background: #3CF;	
	float: left;			
			}
			#sidebar {
	width: 340px;
	height:1040px;
	background:#FFFFFF;
	float: right;

				}
				#footer {
	height: 100px;
	background:#999;
	clear: both;

					}
		#nav {
			width:960px;
	height: 40px;
	background:#D84B4E;
	
			}
			#nav ul {
				margin:0;
				padding:0;
				list-style:none;
				}
				#nav ul li {
					float:left;
					height:15px;
					padding:10px 5px;
					}
					
						

.img1 {
}

.sli {
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 0px;
	float: left;
}
.vid1 {
}
.fig {
	width: 330px;
}
.link {
	left: 50px;
	position: relative;
	top: 40px;
}
.kirche {
	padding: 5px;
	float: left;
}
}
@Media screen and 
(max-width: 767px) {
	#wrap {
	background-color: #FF0;
	margin:auto;
	width:700px;
	padding:20px;
}
	#header {
		width:620px;;
		background:#0F9;
	}
		#main {
	width: 600px;
	padding:10px;
	background: #3CF;	
			
			}
			#sidebar {
	width: 620px;
	height:1050px;
	background:#FFFFFF;
	float:left;
	

				}
				#footer {
	height: 100px;
	background:#999;
	width:620px;

					}
		#nav {
	height: 80px;
	width:620px;
	background:#D84B4E;
	
			}
			#nav ul {
				margin:0;
				padding:0;
				list-style:none;
				}
				#nav ul li {
					float:left;
					height:15px;
					padding:10px 5px;
					}
					
.img1 {
}

.sli {
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 0px;
	float: left;
}
.vid1 {
}
.fig {
	width: 330px;
}
.link {
	left: 50px;
	position: relative;
	top: 40px;

	
}
.kirche {
	padding: 5px;
	float: left;
}
}.tabela {
}
.the {
}
.tde {
	/* [disabled]background-color: yellow; */
}
